* {
  box-sizing: border-box;
}

:root {
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --bluedark: rgb(61, 73, 79);
  --blue: rgb(69, 111, 127);

  --graylightest: rgb(235,235,235);
  --graylighter: rgb(195,195,195);
  --graylight: rgb(155,155,155);
  --graybase: rgb(120,120,120);
  --graydark: rgb(91,91,91);
  --graydarker: rgb(66,66,66);
  --graydarkest: rgb(45,45,45);
  
  --white: rgb(255,255,255);
  --whitedark: rgb(248,248,248);
    
  --black: rgb(35,31,32);
  --blackdark: rgb(0,0,0);

  --sectionHeight: 82rem;

}

a {
  font-weight: 400;
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: var(--bluedark);
}
a:visited {
  color: var(--blue);
}

body {
  margin: 0;
}

header, footer { width: 100%; }
h1,h2,h3,h4,h5,h6,blockquote { margin:0; padding:0; }

h1,h2,h3,h4,h5,h6 { 
    font-family: "PT Sans", sans-serif;
    font-weight: bold; 
    color: var(--black);
}

h1         { font-size: 2.125em; line-height: 1.3; }
h2         { font-size: 1em; line-height: 1.4; }
h3         { font-size: 1em; line-height: 1.4; }
h4, legend { font-size: 1em; line-height: 1.4; }
h5         { font-size: 1em; line-height: 1.4; }
h6         { font-size: 1em; line-height: 1.4; }


@media (min-width: 37em) {
    h1         { font-size: 4.1em; line-height: 1.1; }
    h2         { font-size: 1.75em; line-height: 1.3; }
    h3         { font-size: 1.2em; line-height: 1.4; }
    h4, legend { font-size: 1.75em; line-height: 1.3; }
    h5         { font-size: 1.2em; line-height: 1.4; }
    h6         { font-size: 1em; line-height: 1.4; }
}

p, pre, blockquote { 
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    font-weight: normal;

    p {
        font-size: 1em;
    }

    @media (min-width: 37em) {
        font-size: 1em;
    }
}

p + * {
    margin-top: 1rem;
}

em, i {
  font-style:italic;
}

ul { padding-left: 2em;  padding-bottom: 0.5rem; margin: 0 }
ul ul {padding-top: 0.5rem; }
li { 
    font-size: 0.875em;
    p {
        font-size: 1em;
    }
    li {
        font-size: 1em;
    }
    @media (min-width: 37em) {
        font-size: 1em;
    }
}

img { vertical-align: bottom; max-width: 100%; height: auto; }